*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lustria", serif;
}

.blackheader{
    color: white;
    text-align: center;
    background-color: black;
}

header{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 20px;
    
}

header i{
    font-size: 25px;
}

.fejlec{
    display: flex;
    justify-content: space-between;
    
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    width: 30px;
    height: 25px;
    background-color: white;
}

.hamburger-menu span {
    display: block;
    height: 4px;
    background-color: black;
    border-radius: 2px;
    width: 100%;
}

.menu-toggle:checked~nav {
    display: flex;
}

.iconok{
    display: flex;
}

.icon-search, .icon-cart, .icon-user{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: ease 500ms;
    cursor: pointer;
}

.menu-toggle {
    display: none;
}

.web_logo{
    text-align: center;
    justify-content: center;
    font-size: 40px;
    cursor: pointer;
    position: absolute;
    left: 900px;
}

.diszlec{
    background-image: url('../images/Background1.png');
    background-repeat: repeat;
    background-size: cover;
    height: 800px;
}

.diszlec-text{
    text-align: right;
    font-size: 70px;
    top: 50%;
    right: 150px;
    position: absolute;
    color: white;
}


.category_line , .Suit-Jacket, .Waistcoat, .Dress-Shirt, .Necktie-Belt, .Trousers, .Shoes {
    height: 50px;
    width: 100%;
    border: none;
    background-color: black;
    color: white;
    text-align: center;
    cursor: pointer;
}

.category_line{
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    width: 100%;

}

.container {
    width: 100%;
    max-width: 100%;
    
}

.row {
    display: flex;
    gap: 100px;
    justify-content: space-between;
}



.card {
    flex: 0 1 calc((100% - 40px) / 5);
    background-color: white;
    box-shadow: 5px 5px 5px 5px grey;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
    margin: 20px;
    
}

.card:hover {
    transform: scale(1.01);
}

.card img {
    width: 100%;
}

.card-body {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: inherit;
    overflow: hidden;
    text-align: center;
}

.card-footer{
    text-align: center;
    cursor: pointer;
    background-color: #DDDBDB;
}

.background-info{
    display: flex;
    width: 100%;
    height: 370px;
    background-image: url("../images/greybackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
}

.background-sorttext{
    width: 50%;
    color: white;
    font-size: 20px;
    text-align: center;
    font-size: 50px;
}

.background-longtext{
    width: 50%;
    color: white;
    text-align: center;
    font-size: 25px;
}

.footer{
    display: flex;
    background-color: black;
    color: white;
    width: 100%;
    height: 200px;
}

.footer-NL{
    width: 50%;
}

.footer-info{
    width: 50%;
}

.btnNewsletter{
    cursor: pointer;
}